Content-Hub/MDTI-Data-WebComponents/MDTI-Data-WebComponents.json
{
    "$schema": "https://schema.management.azure.com/schemas/2019-04-01/deploymentTemplate.json#",
    "contentVersion": "1.0.0.0",
    "metadata": {
        "comments": "Perform automated enrichment on the Microsoft Sentinel Incidents based on MDTI Internet data.",
        "title": "MDTI-Data-WebComponents",
        "description": "This playbook uses the MDTI Components data to automatically enrich incidents generated by Microsoft Sentinel. Leverage this playbook in order to enrich your incidents with [Webcomponents](https://learn.microsoft.com/en-us/defender/threat-intelligence/data-sets#components) data hosted by the indicators found within the incident. These components allow a user to understand the makeup of a webpage or the technology and services driving a specific piece of infrastructure. Pivoting on unique components can find actors' infrastructure or other sites that are compromised. Users can also understand if a website might be vulnerable to a specific attack or compromise based on the technologies that it is running.",
        "prerequisites": [
            "This playbook inherits API connections created and established within a base playbook. Ensure you have deployed [MDTI-Base](https://raw.githubusercontent.com/Azure/Azure-Sentinel/master/Solutions/Microsoft%20Defender%20Threat%20Intelligence/Playbooks/MDTI-Base/azuredeploy.json) prior to deploying this playbook. If you have trouble accessing your account or your credentials contact your account representative (mdtidiscussion[@]microsoft.com)."
        ],
        "lastUpdateTime": "2023-03-09T00:00:00.000Z",
        "entities": [],
        "tags": [],
        "postDeployment": [
            "After deploying the playbook, you must authorize the connections leveraged.",
            "1. Visit the playbook resource.",
            "2. Under 'Development Tools' (located on the left), click 'API Connections'.",
            "3. Ensure each connection has been authorized.",
            "**Note: If you've deployed the [MDTI-Base](https://raw.githubusercontent.com/Azure/Azure-Sentinel/master/Solutions/Microsoft%20Defender%20Threat%20Intelligence/Playbooks/MDTI-Base/azuredeploy.json) playbook, you will only need to authorize the Microsoft Sentinel connection.**"
        ],
        "support": {
            "tier": "microsoft"
        },
        "author": {
            "name": "Ajay Kallur, Microsoft"
        },
        "releaseNotes": [
            {
                "version": "1.0.3",
                "title": "MDTI Data WebComponents",
                "notes": [
                    "Updated version with Secure Inputs for HTTP REST and Secure Output for MDTI-Base actions",
                    "Updated version with free-tier Integration Account to enable Inline Javascript action to check for non-Public IPs"
                ]
            }
        ]
    },
    "parameters": {
        "PlaybookName": {
            "defaultValue": "MDTI-Data-WebComponents",
            "type": "String"
        }
    },
    "variables": {
        "AzureSentinelConnectionName": "[concat('azuresentinel-', parameters('PlaybookName'))]",
        "integration_account_name": "mdti-integration-account"
    },
    "resources": [
        {
            "type": "Microsoft.Web/connections",
            "apiVersion": "2016-06-01",
            "name": "[variables('AzureSentinelConnectionName')]",
            "location": "[resourceGroup().location]",
            "properties": {
                "api": {
                    "id": "[concat('/subscriptions/', subscription().subscriptionId, '/providers/Microsoft.Web/locations/', resourceGroup().location, '/managedApis/azuresentinel')]"
                }
            }
        },
        {
            "type": "Microsoft.Logic/workflows",
            "apiVersion": "2019-05-01",
            "name": "[parameters('PlaybookName')]",
            "location": "[resourceGroup().location]",
            "tags": {
                "LogicAppsCategory": "security",
                "Source": "MDTI"
            },
            "dependsOn": [
                "[resourceId('Microsoft.Web/connections', variables('AzureSentinelConnectionName'))]"
            ],
            "properties": {
                "integrationAccount": {
                    "id": "[resourceId('Microsoft.Logic/IntegrationAccounts', variables('integration_account_name'))]"
                },
                "state": "Enabled",
                "definition": {
                    "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
                    "contentVersion": "1.0.0.0",
                    "parameters": {
                        "$connections": {
                            "type": "Object"
                        }
                    },
                    "triggers": {
                        "When_Azure_Sentinel_incident_creation_rule_was_triggered": {
                            "type": "ApiConnectionWebhook",
                            "inputs": {
                                "body": {
                                    "callback_url": "@{listCallbackUrl()}"
                                },
                                "host": {
                                    "connection": {
                                        "name": "@parameters('$connections')['azuresentinel']['connectionId']"
                                    }
                                },
                                "path": "/incident-creation"
                            }
                        }
                    },
                    "actions": {
                        "Entities_-_Get_DNS": {
                            "inputs": {
                                "body": "@triggerBody()?['object']?['properties']?['relatedEntities']",
                                "host": {
                                    "connection": {
                                        "name": "@parameters('$connections')['azuresentinel']['connectionId']"
                                    }
                                },
                                "method": "post",
                                "path": "/entities/dnsresolution"
                            },
                            "runAfter": {
                                "MDTI-Base": [
                                    "Succeeded"
                                ]
                            },
                            "type": "ApiConnection"
                        },
                        "Entities_-_Get_Hosts": {
                            "inputs": {
                                "body": "@triggerBody()?['object']?['properties']?['relatedEntities']",
                                "host": {
                                    "connection": {
                                        "name": "@parameters('$connections')['azuresentinel']['connectionId']"
                                    }
                                },
                                "method": "post",
                                "path": "/entities/host"
                            },
                            "runAfter": {
                                "MDTI-Base": [
                                    "Succeeded"
                                ]
                            },
                            "type": "ApiConnection"
                        },
                        "Entities_-_Get_IPs": {
                            "inputs": {
                                "body": "@triggerBody()?['object']?['properties']?['relatedEntities']",
                                "host": {
                                    "connection": {
                                        "name": "@parameters('$connections')['azuresentinel']['connectionId']"
                                    }
                                },
                                "method": "post",
                                "path": "/entities/ip"
                            },
                            "runAfter": {
                                "MDTI-Base": [
                                    "Succeeded"
                                ]
                            },
                            "type": "ApiConnection"
                        },
                        "For_each_DNS": {
                            "actions": {
                                "Add_comment_to_incident_(V3)_3": {
                                    "inputs": {
                                        "body": {
                                            "incidentArmId": "@triggerBody()?['object']?['id']",
                                            "message": "<p>MDTI Web Components for Indicator: @{items('For_each_DNS')?['DomainName']}<br>\n@{body('Create_DNS_HTML_table')}</p>"
                                        },
                                        "host": {
                                            "connection": {
                                                "name": "@parameters('$connections')['azuresentinel']['connectionId']"
                                            }
                                        },
                                        "method": "post",
                                        "path": "/Incidents/Comment"
                                    },
                                    "runAfter": {
                                        "Create_DNS_HTML_table": [
                                            "Succeeded"
                                        ]
                                    },
                                    "type": "ApiConnection"
                                },
                                "Create_DNS_HTML_table": {
                                    "inputs": {
                                        "format": "HTML",
                                        "from": "@variables('result_output_dns')"
                                    },
                                    "runAfter": {
                                        "For_each_DNS_comonent": [
                                            "Succeeded"
                                        ]
                                    },
                                    "type": "Table"
                                },
                                "For_each_DNS_comonent": {
                                    "actions": {
                                        "Append_to_Result_DNS": {
                                            "inputs": {
                                                "name": "result_output_dns",
                                                "value": {
                                                    "Category": "@items('For_each_DNS_comonent')['category']",
                                                    "LastSeenDateTime": "@items('For_each_DNS_comonent')['lastSeenDateTime']",
                                                    "Name": "@items('For_each_DNS_comonent')['name']",
                                                    "Version": "@items('For_each_DNS_comonent')['version']"
                                                }
                                            },
                                            "runAfter": {},
                                            "type": "AppendToArrayVariable"
                                        }
                                    },
                                    "foreach": "@body('Parse_DNS_components')",
                                    "runAfter": {
                                        "Set_Result_DNS": [
                                            "Succeeded"
                                        ]
                                    },
                                    "type": "Foreach"
                                },
                                "Get_components_for_DNS": {
                                    "inputs": {
                                        "authentication": {
                                            "audience": "@body('MDTI-Base')?['resource']",
                                            "clientId": "@body('MDTI-Base')?['clientId']",
                                            "secret": "@body('MDTI-Base')?['clientSecret']",
                                            "tenant": "@body('MDTI-Base')?['tenantId']",
                                            "type": "ActiveDirectoryOAuth"
                                        },
                                        "headers": {
                                            "Content-Type": "application/json"
                                        },
                                        "method": "GET",
                                        "queries": {
                                            "$count": "true",
                                            "$top": "25"
                                        },
                                        "uri": "https://@{body('MDTI-Base')?['MDTI-BaseUrl']}/@{body('MDTI-Base')?['Api-Version']}/security/threatIntelligence/hosts('@{items('For_each_DNS')?['DomainName']}')/components"
                                    },
                                    "runAfter": {},
                                    "runtimeConfiguration": {
                                        "secureData": {
                                            "properties": [
                                                "inputs"
                                            ]
                                        }
                                    },
                                    "type": "Http"
                                },
                                "Parse_DNS_components": {
                                    "inputs": {
                                        "content": "@body('Get_components_for_DNS')?['value']",
                                        "schema": {
                                            "items": {
                                                "properties": {
                                                    "category": {
                                                        "type": "string"
                                                    },
                                                    "firstSeenDateTime": {
                                                        "type": "string"
                                                    },
                                                    "host": {
                                                        "properties": {
                                                            "id": {
                                                                "type": "string"
                                                            }
                                                        },
                                                        "type": "object"
                                                    },
                                                    "id": {
                                                        "type": "string"
                                                    },
                                                    "lastSeenDateTime": {
                                                        "type": "string"
                                                    },
                                                    "name": {
                                                        "type": "string"
                                                    },
                                                    "version": {
                                                        "type": "string"
                                                    }
                                                },
                                                "required": [
                                                    "id",
                                                    "firstSeenDateTime",
                                                    "lastSeenDateTime",
                                                    "name",
                                                    "version",
                                                    "category",
                                                    "host"
                                                ],
                                                "type": "object"
                                            },
                                            "type": "array"
                                        }
                                    },
                                    "runAfter": {
                                        "Get_components_for_DNS": [
                                            "Succeeded"
                                        ]
                                    },
                                    "type": "ParseJson"
                                },
                                "Set_Result_DNS": {
                                    "inputs": {
                                        "name": "result_output_dns",
                                        "value": []
                                    },
                                    "runAfter": {
                                        "Parse_DNS_components": [
                                            "Succeeded"
                                        ]
                                    },
                                    "type": "SetVariable"
                                }
                            },
                            "foreach": "@body('Entities_-_Get_DNS')?['Dnsresolutions']",
                            "runAfter": {
                                "Initialize_Result_DNS": [
                                    "Succeeded"
                                ]
                            },
                            "runtimeConfiguration": {
                                "concurrency": {
                                    "repetitions": 1
                                }
                            },
                            "type": "Foreach"
                        },
                        "For_each_Host": {
                            "actions": {
                                "Has_Host_and_Domain_Segments": {
                                    "actions": {
                                        "Add_comment_to_incident_(V3)": {
                                            "inputs": {
                                                "body": {
                                                    "incidentArmId": "@triggerBody()?['object']?['id']",
                                                    "message": "<p>MDTI Web Components for Indicator : @{items('For_each_Host')?['HostName']}.@{items('For_each_Host')?['DnsDomain']}<br>\n@{body('Create_Host_HTML_table')}</p>"
                                                },
                                                "host": {
                                                    "connection": {
                                                        "name": "@parameters('$connections')['azuresentinel']['connectionId']"
                                                    }
                                                },
                                                "method": "post",
                                                "path": "/Incidents/Comment"
                                            },
                                            "runAfter": {
                                                "Create_Host_HTML_table": [
                                                    "Succeeded"
                                                ]
                                            },
                                            "type": "ApiConnection"
                                        },
                                        "Create_Host_HTML_table": {
                                            "inputs": {
                                                "format": "HTML",
                                                "from": "@variables('result_output_host')"
                                            },
                                            "runAfter": {
                                                "For_each_host_component": [
                                                    "Succeeded"
                                                ]
                                            },
                                            "type": "Table"
                                        },
                                        "For_each_host_component": {
                                            "actions": {
                                                "Append_to_Result_Host": {
                                                    "inputs": {
                                                        "name": "result_output_host",
                                                        "value": {
                                                            "Category": "@items('For_each_host_component')['category']",
                                                            "LastSeenDateTime": "@items('For_each_host_component')['lastSeenDateTime']",
                                                            "Name": "@items('For_each_host_component')['name']",
                                                            "Version": "@items('For_each_host_component')['version']"
                                                        }
                                                    },
                                                    "runAfter": {},
                                                    "type": "AppendToArrayVariable"
                                                }
                                            },
                                            "foreach": "@body('Parse_host_components')",
                                            "runAfter": {
                                                "Set_Result_Host": [
                                                    "Succeeded"
                                                ]
                                            },
                                            "type": "Foreach"
                                        },
                                        "Get_components_for_host": {
                                            "inputs": {
                                                "authentication": {
                                                    "audience": "@body('MDTI-Base')?['resource']",
                                                    "clientId": "@body('MDTI-Base')?['clientId']",
                                                    "secret": "@body('MDTI-Base')?['clientSecret']",
                                                    "tenant": "@body('MDTI-Base')?['tenantId']",
                                                    "type": "ActiveDirectoryOAuth"
                                                },
                                                "headers": {
                                                    "Content-Type": "application/json"
                                                },
                                                "method": "GET",
                                                "queries": {
                                                    "$count": "true",
                                                    "$top": "25"
                                                },
                                                "uri": "https://@{body('MDTI-Base')?['MDTI-BaseUrl']}/@{body('MDTI-Base')?['Api-Version']}/security/threatIntelligence/hosts('@{items('For_each_Host')?['HostName']}.@{items('For_each_Host')?['DnsDomain']}')/components"
                                            },
                                            "runAfter": {},
                                            "runtimeConfiguration": {
                                                "secureData": {
                                                    "properties": [
                                                        "inputs"
                                                    ]
                                                }
                                            },
                                            "type": "Http"
                                        },
                                        "Parse_host_components": {
                                            "inputs": {
                                                "content": "@body('Get_components_for_host')?['value']",
                                                "schema": {
                                                    "items": {
                                                        "properties": {
                                                            "category": {
                                                                "type": "string"
                                                            },
                                                            "firstSeenDateTime": {
                                                                "type": "string"
                                                            },
                                                            "host": {
                                                                "properties": {
                                                                    "id": {
                                                                        "type": "string"
                                                                    }
                                                                },
                                                                "type": "object"
                                                            },
                                                            "id": {
                                                                "type": "string"
                                                            },
                                                            "lastSeenDateTime": {
                                                                "type": "string"
                                                            },
                                                            "name": {
                                                                "type": "string"
                                                            },
                                                            "version": {
                                                                "type": "string"
                                                            }
                                                        },
                                                        "required": [
                                                            "id",
                                                            "firstSeenDateTime",
                                                            "lastSeenDateTime",
                                                            "name",
                                                            "version",
                                                            "category",
                                                            "host"
                                                        ],
                                                        "type": "object"
                                                    },
                                                    "type": "array"
                                                }
                                            },
                                            "runAfter": {
                                                "Get_components_for_host": [
                                                    "Succeeded"
                                                ]
                                            },
                                            "type": "ParseJson"
                                        },
                                        "Set_Result_Host": {
                                            "inputs": {
                                                "name": "result_output_host",
                                                "value": []
                                            },
                                            "runAfter": {
                                                "Parse_host_components": [
                                                    "Succeeded"
                                                ]
                                            },
                                            "type": "SetVariable"
                                        }
                                    },
                                    "expression": {
                                        "and": [
                                            {
                                                "not": {
                                                    "equals": [
                                                        "@items('For_each_Host')?['HostName']",
                                                        "@null"
                                                    ]
                                                }
                                            },
                                            {
                                                "not": {
                                                    "equals": [
                                                        "@items('For_each_Host')?['DnsDomain']",
                                                        "@null"
                                                    ]
                                                }
                                            }
                                        ]
                                    },
                                    "runAfter": {},
                                    "type": "If"
                                }
                            },
                            "foreach": "@body('Entities_-_Get_Hosts')?['Hosts']",
                            "runAfter": {
                                "Init_Result_Host": [
                                    "Succeeded"
                                ]
                            },
                            "runtimeConfiguration": {
                                "concurrency": {
                                    "repetitions": 1
                                }
                            },
                            "type": "Foreach"
                        },
                        "For_each_IP_Address": {
                            "actions": {
                                "Is_Not_Private_IP": {
                                    "actions": {
                                        "Add_comment_to_incident_(V3)_2": {
                                            "inputs": {
                                                "body": {
                                                    "incidentArmId": "@triggerBody()?['object']?['id']",
                                                    "message": "<p>MDTI Web Components for Indicator: @{items('For_each_IP_Address')?['Address']}<br>\n@{body('Create_IP_HTML_table')}</p>"
                                                },
                                                "host": {
                                                    "connection": {
                                                        "name": "@parameters('$connections')['azuresentinel']['connectionId']"
                                                    }
                                                },
                                                "method": "post",
                                                "path": "/Incidents/Comment"
                                            },
                                            "runAfter": {
                                                "Create_IP_HTML_table": [
                                                    "Succeeded"
                                                ]
                                            },
                                            "type": "ApiConnection"
                                        },
                                        "Create_IP_HTML_table": {
                                            "inputs": {
                                                "format": "HTML",
                                                "from": "@variables('result_output_ip')"
                                            },
                                            "runAfter": {
                                                "For_each_component": [
                                                    "Succeeded"
                                                ]
                                            },
                                            "type": "Table"
                                        },
                                        "For_each_component": {
                                            "actions": {
                                                "Append_to_Result_IP": {
                                                    "inputs": {
                                                        "name": "result_output_ip",
                                                        "value": {
                                                            "Category": "@items('For_each_component')?['category']",
                                                            "LastSeenDateTime": "@items('For_each_component')?['lastSeenDateTime']",
                                                            "Name": "@items('For_each_component')?['name']",
                                                            "Version": "@items('For_each_component')?['version']"
                                                        }
                                                    },
                                                    "runAfter": {},
                                                    "type": "AppendToArrayVariable"
                                                }
                                            },
                                            "foreach": "@body('Parse_components')",
                                            "runAfter": {
                                                "Set_Result_IP": [
                                                    "Succeeded"
                                                ]
                                            },
                                            "type": "Foreach"
                                        },
                                        "Get_components": {
                                            "inputs": {
                                                "authentication": {
                                                    "audience": "@body('MDTI-Base')?['resource']",
                                                    "clientId": "@body('MDTI-Base')?['clientId']",
                                                    "secret": "@body('MDTI-Base')?['clientSecret']",
                                                    "tenant": "@body('MDTI-Base')?['tenantId']",
                                                    "type": "ActiveDirectoryOAuth"
                                                },
                                                "headers": {
                                                    "Content-Type": "application/json"
                                                },
                                                "method": "GET",
                                                "queries": {
                                                    "$count": "true",
                                                    "$top": "25"
                                                },
                                                "uri": "https://@{body('MDTI-Base')?['MDTI-BaseUrl']}/@{body('MDTI-Base')?['Api-Version']}/security/threatIntelligence/hosts('@{items('For_each_IP_Address')?['Address']}')/components"
                                            },
                                            "runAfter": {},
                                            "runtimeConfiguration": {
                                                "secureData": {
                                                    "properties": [
                                                        "inputs"
                                                    ]
                                                }
                                            },
                                            "type": "Http"
                                        },
                                        "Parse_components": {
                                            "inputs": {
                                                "content": "@body('Get_components')?['value']",
                                                "schema": {
                                                    "items": {
                                                        "properties": {
                                                            "category": {
                                                                "type": "string"
                                                            },
                                                            "firstSeenDateTime": {
                                                                "type": "string"
                                                            },
                                                            "host": {
                                                                "properties": {
                                                                    "id": {
                                                                        "type": "string"
                                                                    }
                                                                },
                                                                "type": "object"
                                                            },
                                                            "id": {
                                                                "type": "string"
                                                            },
                                                            "lastSeenDateTime": {
                                                                "type": "string"
                                                            },
                                                            "name": {
                                                                "type": "string"
                                                            },
                                                            "version": {
                                                                "type": "string"
                                                            }
                                                        },
                                                        "required": [
                                                            "id",
                                                            "firstSeenDateTime",
                                                            "lastSeenDateTime",
                                                            "name",
                                                            "version",
                                                            "category",
                                                            "host"
                                                        ],
                                                        "type": "object"
                                                    },
                                                    "type": "array"
                                                }
                                            },
                                            "runAfter": {
                                                "Get_components": [
                                                    "Succeeded"
                                                ]
                                            },
                                            "type": "ParseJson"
                                        },
                                        "Set_Result_IP": {
                                            "inputs": {
                                                "name": "result_output_ip",
                                                "value": []
                                            },
                                            "runAfter": {
                                                "Parse_components": [
                                                    "Succeeded"
                                                ]
                                            },
                                            "type": "SetVariable"
                                        }
                                    },
                                    "expression": {
                                        "and": [
                                            {
                                                "equals": [
                                                    "@contains(outputs('Identify_Private_IPs')['body'],items('For_each_IP_Address')?['Address'])",
                                                    "@false"
                                                ]
                                            }
                                        ]
                                    },
                                    "runAfter": {},
                                    "type": "If"
                                }
                            },
                            "foreach": "@body('Entities_-_Get_IPs')?['IPs']",
                            "runAfter": {
                                "Identify_Private_IPs": [
                                    "Succeeded"
                                ]
                            },
                            "runtimeConfiguration": {
                                "concurrency": {
                                    "repetitions": 1
                                }
                            },
                            "type": "Foreach"
                        },
                        "Identify_Private_IPs": {
                            "inputs": {
                                "code": "var entities = workflowContext.trigger.outputs.body.object.properties.relatedEntities\r\n;\r\nvar rfc1918 = /^(10|127|169\\.254|172\\.1[6-9]|172\\.2[0-9]|172\\.3[0-1]|192\\.168)\\./;\r\nvar privip = [];\r\n\r\nfor (var i=0;i<entities.length;i++) {\r\n    if (entities[i].kind === 'Ip' && rfc1918.test(entities[i].properties.address)) {\r\n        privip.push(entities[i].properties.address)\r\n    }\r\n}\r\n\r\nreturn privip;",
                                "explicitDependencies": {
                                    "includeTrigger": true
                                }
                            },
                            "runAfter": {
                                "Init_Result_IP": [
                                    "Succeeded"
                                ]
                            },
                            "type": "JavaScriptCode"
                        },
                        "Init_Result_Host": {
                            "inputs": {
                                "variables": [
                                    {
                                        "name": "result_output_host",
                                        "type": "array"
                                    }
                                ]
                            },
                            "runAfter": {
                                "Entities_-_Get_Hosts": [
                                    "Succeeded"
                                ]
                            },
                            "type": "InitializeVariable"
                        },
                        "Init_Result_IP": {
                            "inputs": {
                                "variables": [
                                    {
                                        "name": "result_output_ip",
                                        "type": "array"
                                    }
                                ]
                            },
                            "runAfter": {
                                "Entities_-_Get_IPs": [
                                    "Succeeded"
                                ]
                            },
                            "type": "InitializeVariable"
                        },
                        "Initialize_Result_DNS": {
                            "inputs": {
                                "variables": [
                                    {
                                        "name": "result_output_dns",
                                        "type": "array"
                                    }
                                ]
                            },
                            "runAfter": {
                                "Entities_-_Get_DNS": [
                                    "Succeeded"
                                ]
                            },
                            "type": "InitializeVariable"
                        },
                        "MDTI-Base": {
                            "inputs": {
                                "host": {
                                    "triggerName": "manual",
                                    "workflow": {
                                        "id": "[concat('/subscriptions/', subscription().subscriptionId, '/resourceGroups/', resourceGroup().name, '/providers/Microsoft.Logic/workflows/MDTI-Base')]"
                                    }
                                }
                            },
                            "runAfter": {},
                            "runtimeConfiguration": {
                                "secureData": {
                                    "properties": [
                                        "outputs"
                                    ]
                                }
                            },
                            "type": "Workflow"
                        }
                    },
                    "outputs": {}
                },
                "parameters": {
                    "$connections": {
                        "value": {
                            "azuresentinel": {
                                "connectionId": "[resourceId('Microsoft.Web/connections', variables('AzureSentinelConnectionName'))]",
                                "connectionName": "[variables('AzureSentinelConnectionName')]",
                                "id": "[concat('/subscriptions/', subscription().subscriptionId, '/providers/Microsoft.Web/locations/', resourceGroup().location, '/managedApis/azuresentinel')]"
                            }
                        }
                    }
                }
            }
        }
    ]
}